#navbar {
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
#home{
height: 380px;
padding: 3px 28px;
/* padding-bottom: 8px; */
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}

#services{
    flex-direction: column;

}
#service .box{
       padding: 14px;
       margin: 2px 0px;
       margin-bottom: 20px;
}
#services .box img {
    height: 142px;
}
 #clients{
   flex-wrap: wrap;
}
#clients img{
width: 66px;
padding: 6px;
height: auto;
}
#contact-box form{
    width: 80%;
}
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
.h-secondary{
    font-size: 1.3rem;
}